* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-pink: hsl(350deg 60% 60%);
  --color-pink-light: hsl(350deg, 50%, 80%);
  --color-blue-dark: hsl(190deg 70% 35%);
  --color-blue-light: hsl(190deg 70% 50%);
  --color-grey-black: hsl(0deg, 0%, 0%);
  --color-grey-very-dark: hsl(0deg, 0%, 10%);
  --color-grey-dark: hsl(0deg, 0%, 30%);
  /* --color-blue-light: hsl(0deg, 0%, 40%); */
  --color-grey-white: hsl(0deg, 0%, 100%);
}

p {
  color: var(--color-grey-dark);
}
h1 {
  color: var(--color-blue-dark);
}


h2,
h3,
h4,
h4,
h6 {
  color: var(--color-grey-black);
}

strong {
  color: var(--color-pink);
}

.max-width-wrapper {
  padding: 32px 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: var(--color-grey-white);
  border-bottom: 4px solid var(--color-blue-light);
}

main {
  background-color: var(--color-pink-light);
}

.card,
.intro-chunk {
  padding: 16px;
  padding-top: 8px;
}

.card {
  background-color: var(--color-grey-white);
  border-bottom: 4px solid var(--color-blue-light);
}

.card > h2 {
  background-color: var(--color-blue-dark);
  color: var(--color-grey-white);
  border-bottom: 4px solid var(--color-blue-light);
  padding: 16px 32px;
  margin-left: -32px;
  max-width: max-content;
}
